extends ./layout.pug

block content
  h3 Welcome to the Awesome admin portal
  hr
  .row
    a(href="/admin/categories/")
        .card(style='width: 18rem;')
            .card-body
                h5.card-title Category management